/* Global items*/
* {
  box-sizing: border-box;
}

html, body {
  font-family: "Didact Gothic";
  Font-size: 10px;
  height: 100%;
  margin: 0;
  width: 100%;
  position: relative;
}

@font-face {
  font-family: 'autographyregular';
  src: url('./fonts/autography-webfont.woff2') format('woff2'),
    url('./fonts/autography-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

/*header*/
.header-container {
  display: flex;
}

.logo {
  height: 60px;
  width: 80px;
  position: relative;
  left: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}

li {
  float: right;
  padding-right: 39px;
}

.navbar {
  font-family: Ubuntu;
  letter-spacing: -0.0141176em;
  font-size: 2.4em;
  font-weight: bold;
  line-height: 22px;
  flex: 1 1 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

a:link {
  text-decoration: none;
}

.navbar a {
  color: #820263;
}

/*hero*/
#hero-unit {
  width: 100%;
  height: 550px;
  left: 0px;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 6.4em;
  position: absolute;
  height: 22px;
  left: 136px;
  top: 229px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.0141176em;
}

.name h1 {
  font-family: 'autographyregular';
  color: #FE7F2D;
  position: absolute;
  width: 155px;
  height: 22px;
  left: 326px;
  top: 235px;
}

.profile {
  position: absolute;
  width: 438px;
  height: 410px;
  left: 545px;
  top: 132px;
  z-index: 1;
}

.diamond {
  position: absolute;
  width: 438px;
  height: 410px;
  left: 619px;
  top: 132px;
}

.whoami {
  position: relative;
  width: 434px;
  height: 105px;
  left: 90px;
  top: 250px;
  font-family: Didact Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
}

/*case study*/
#recentcaseL {
  margin-top: 100px;
  width: 100%;
  height: 450px;
  left: 0px;
  top: 753px;
  background-color: #FE7F2D;
}

#recentcaseL h3 {
  color: #FFFFFF;
  width: 140px;
  height: 22px;
  top: 853px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 22px;
  letter-spacing: -0.0141176em;
  padding-top: 50px;
  padding-left: 353px;
}

#recentcaseL p {
  width: 528px;
  height: 240px;
  font-family: Didact Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 167.23%;
  text-align: center;
  left: 159px;
  position: absolute;
  color: #FFFFFF;
  padding-top: 50px;
}

.sprinkle {
  width: 194px;
  height: 393px;
  position: absolute;
  right: 143px;
  padding-top: 45px;
}

.button {
  position: relative;
  width: 170px;
  height: 50px;
  left: 340px;
  border-radius: 30px;
  top: 300px;
}

/*Footer*/
footer {
  position: relative;
  width: 100%;
  height: 250px;
  left: 0px;
  background: #820263;
  bottom: 0px;
  margin-top: 100px;
}

.footer-links a {
  color: #FFFFFF;
}

.footer-links {
  font-size: 24px;
  text-align: center;
  position: relative;
  padding-top: 20px;
}

footer h3 {
  color: #FFFFFF;
  text-align: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 167.23%;
  padding-top: 43px;
}

footer p {
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  font-family: Ubuntu;
  font-style: normal;
  line-height: 167.23%;
}

/*about me page*/

#aboutme {
  display: flex;
}

#selfportrait {
  width: 419px;
  height: 771px;
  margin-top: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hey1 h1 {
  position: static;
  margin-top: 68px;

}

.aboutme .name  {
  left: 633px;
  position: absolute;

}

#profile_details {
  position: relative;
  padding-top:250px;
}

#profile_details h2 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 167.23%;
  text-align: center;
  margin-bottom: 25px;

}

#profile_details {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.23%;
  margin: 50px 50px 0px 50px;
}

.dinopic img {
  width: 536px;
  height: 422px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.thai {
  width: 536px;
  height: 422px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profile_details h2 {
text-align: center;
}

.creations h3 {
font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 167.23%;
text-align: center;
}

.creations p {
  font-size: 18px;
line-height: 167.23%;
text-align: center;
margin: 50px 50px 50px 50px;
}

.thai h3 {
  font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 167.23%;
text-align: center;
}

/*project page*/


.tab {
position: absolute;
width: 236px;
height: 65px;
}

#casedetails {
position: relative;
width: 883px;
height: 482px;
left: 137px;
}

.mobile-prototype {
position: relative;
width: 672px;
height: 414.52px;
left: 41px;
top: 183px;
}


.sections p {
  text-align: center;
  width:894px;
  font-size:18px;
}

#case-header {
width: 100%;
height: 759px;
left: 0px;
background: linear-gradient(180deg, #860263 0%, rgba(217, 3, 104, 0.81) 100%);
}

#case-header .button {
position: absolute;
width: 170px;
height: 50px;
left: 730px;
top: 483px;
}

#case-header h2 {
  position: absolute;
width: 186px;
height: 22px;
left: 725px;
top: 229px;
color: #ffffff;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 22px;
}

#case-header p {
  position: absolute;
width: 419px;
height: 94px;
left: 600px;
top: 317px;
color: #ffffff;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 167.23%;
text-align: center;
}

/*solution section*/

#solution .sprinkle_pic {
display: block;
margin-left: auto;
margin-right: auto;
width: 993px;
height: 375px;
}

/*survey section*/

#survey .facts {
columns: 3
left: 432px;
top: 2735px;
}

/*competitive analysis*/

#competitive .cakeboss {
width: 326px;
height: 112px;
left: 54px;
float: left;
}

#competitive .bakediary {
  width: 324px;
height: 130px;
left: 430px;
}

#competitive .google_drive {
width: 311px;
height: 389px;
float:right;
}

/*user personas*/

#personas .personas {
display: block;
width: 520.13px;
height: 278px;
}

/* User stories*/

#stories .user_stories {
  width: 520.13px;
height: 278px;
margin-left: auto;
margin-right: auto;
display: block;
}

#flows .user_flow {
  width: 794px;
height: 508px;
display: block;
margin-left: auto;
margin-right: auto;
}

#flows .sitemap {
  width: 498px;
height: 451px;
}

/*Wireframes*/

#wire .sketches  {
  width: 318px;
height: 299px;
}

#wire .wireframe {
  width: 519px;
height: 369px;
}

/*Usability Test 1*/

#usability1 .sprinkle_img {
  width: 647px;
height: 579px;
}

#usability1 .payment {
  width: 466px;
  height: 415px;
}

/*Branding*/

#branding .logo {
  width: 550.08px;
height: 283.01px;
}

#branding .style {
  width: 677px;
height: 930px;
}

/*Preference Testing*/

#preference .testpic {
  width: 386px;
height: 328px;
}

/*Hi Fi Mockup*/

#hifi .mockup {
  width: 697px;
height: 445px;
}

/*Usability Round 2*/

#testing2 .sprinkle_img2 {
  width: 697px;
  height: 445px;
align-items: center;
}

testing2 p {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: 40px;

}

/*Reflections*/
 #reflect h3 {
   text-align: center;
   font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
 }

 #reflect p {

   font-size: 16px;
   text-align: center;
   line-height: 40px;
   width: 894px;
margin:0 auto;
 }

#key h3{
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 36px;
text-align: center;
}

main p {
  width: 894px;
  text-align: center;
  margin:0 auto;
  font-size: 18px;
}
